pl_adls_largest_file_gold/pipeline/pl_adls_largest_file_gold.json
{
    "name": "pl_adls_largest_file_gold",
    "properties": {
        "activities": [
            {
                "name": "ForEach to get tables from source",
                "type": "ForEach",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@pipeline().parameters.FileList",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Copy data from source to silver",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "ExcelSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_source_excelsheet_copy",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "sheetname": {
                                            "value": "@item().SheetName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_target_silver_excel",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "sheetname": {
                                            "value": "@item().SheetName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "Get Metadata file size",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "ForEach to get tables from source",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_metadata_filesize",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "ForEach for all csv files",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Stored procedure to clear the FileLog table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Metadata file size').output.childItems",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Get Metadata to get file sizes",
                            "type": "GetMetadata",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "ds_metadata_childitems",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "filename": {
                                            "value": "@item().name",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "fieldList": [
                                    "size",
                                    "itemName"
                                ],
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            }
                        },
                        {
                            "name": "Stored procedure to update FileLog table",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [
                                {
                                    "activity": "Get Metadata to get file sizes",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "[silver].[usp_logFileDetails]",
                                "storedProcedureParameters": {
                                    "filename": {
                                        "value": {
                                            "value": "@activity('Get Metadata to get file sizes').output.itemName",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "filesize": {
                                        "value": {
                                            "value": "@activity('Get Metadata to get file sizes').output.size",
                                            "type": "Expression"
                                        },
                                        "type": "Int32"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "AzureSqlDatabaseTarget",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            },
            {
                "name": "Script to query the largest file",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "ForEach for all csv files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabaseTarget",
                    "type": "LinkedServiceReference"
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query",
                            "text": {
                                "value": "SELECT filename\nFROM silver.FileLog\nWHERE filesize = (SELECT MAX(filesize) FROM silver.FileLog)",
                                "type": "Expression"
                            }
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            },
            {
                "name": "Copy largest file from silver to gold",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Script to query the largest file",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".txt"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "ds_silver_to_adls_gold",
                        "type": "DatasetReference",
                        "parameters": {
                            "FileName": {
                                "value": "@activity('Script to query the largest file').output.resultSets[0].rows[0].filename\r\n",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ds_target_adls_gold",
                        "type": "DatasetReference",
                        "parameters": {
                            "FileName": {
                                "value": "@activity('Script to query the largest file').output.resultSets[0].rows[0].filename",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Stored procedure to clear the FileLog table",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Get Metadata file size",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[silver].[usp_ClearFileLog]"
                },
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabaseTarget",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "parameters": {
            "FileList": {
                "type": "array",
                "defaultValue": [
                    {
                        "SheetName": "MARA"
                    },
                    {
                        "SheetName": "VBRK"
                    },
                    {
                        "SheetName": "VBAP"
                    }
                ]
            }
        },
        "variables": {
            "FileSize": {
                "type": "Array"
            },
            "setFileSize": {
                "type": "Array"
            },
            "FileName": {
                "type": "Array"
            },
            "setFileName": {
                "type": "Array"
            }
        },
        "folder": {
            "name": "Final Project"
        },
        "annotations": []
    }
}